body{
  background-color: #000;
  color: aliceblue;
}

/* .hello{
border: 1px solid rgb(130, 119, 119);
} */

.title{
  color: #642170;
  text-transform: uppercase;
}

/* .title:hover{
  color: #37123d;
} */

.card-container{
  padding: 10px;
  background-color:#1E183C ;
  width: 500px;
  margin: 10px;
  border-radius: 10px;
}
.card-container:hover{
  cursor: pointer;

  background-color: #392f6d;
  color: #ffffff !important;
}

.description{
  color:#7A7398 ;
}
